$background_color: rgb(224,246,253);
$content_color:rgb(59,59,59);
$fontandborder_color:rgb(252,205,16);
$brief_color:rgb(255,241,120);
$table_color:rgb(148,163,78);
$table_color_back:rgb(103,125,1);
$button_color:rgb(252,205,16);
$buttonback_color:rgb(59,59,59);
$buttonhover_color:rgb(252,205,16);
$buttonhoverback_color:rgb(59,59,59);
$form_color:rgb(252,205,16);
$link_color:rgb(252,205,16);
$font_color:white;
$tablefont_color:white;