$background_color: rgb(220,187,154);
$content_color:white;
$fontandborder_color:rgb(137,60,0);
$brief_color:rgb(250,220,186);
$table_color:grey;
$tablefont_color:black;
$table_color_back:rgb(224,224,224);
$button_color:rgb(61,112,161);
$buttonback_color:white;
$buttonhover_color:rgb(61,112,161);
$buttonhoverback_color:white;
$form_color:rgb(128,128,128);
$link_color:blue;
$font_color:black;