body {
  background-color: #e0f6fd; }

#content {
  overflow: hidden;
  margin: 0 auto;
  background-color: #3b3b3b;
  width: 1200px;
  padding: 25px; }

h1 {
  margin: 1px;
  text-align: center; }

h1, h2 {
  color: #fccd10; }

p {
  color: white; }

.img-left {
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 3px;
  border: solid #fccd10;
  float: left; }

.img-right {
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 3px;
  border: solid #fccd10;
  float: right; }

.brief {
  font-size: 18px;
  text-align: left;
  margin-bottom: 10px;
  margin-right: 15px;
  float: left;
  padding: 20px;
  width: 425px;
  height: 75px;
  background-color: #fff178; }

caption {
  text-align: right; }

table {
  border-spacing: 0px;
  border-collapse: collapse; }

td {
  font-weight: lighter;
  background-color: #677d01;
  border-bottom: solid 1px #94a34e;
  color: white; }

th {
  font-weight: lighter;
  background-color: #94a34e; }

th, td {
  padding: 10px 20px;
  padding-right: 85px; }

#button {
  font-weight: bolder;
  color: #fccd10;
  padding: 10px 65px;
  background-color: #3b3b3b;
  border: solid 1px #fccd10; }

#button:hover {
  color: #3b3b3b;
  background-color: #fccd10;
  transition: 0.3s; }

form {
  float: left;
  color: #fccd10; }

.lastname {
  margin-left: 48px; }

.firstname, .lastname, .email, .rate, .feedback {
  resize: none; }

a {
  color: #fccd10; }
